
@media screen and (min-width:600px){

    header{
        background-color: #28282B;
        height: 70px;
        padding-left:10px;
        padding-top: 10px;
    }
    header > h1{
            text-align: center;
            color: #D61A3C;
            text-shadow: 3px 3px #3B3B3B;
    }
    *{
        margin:0;
        padding: 0;
    }
    body{
        background-color: #666666;
    }
    @keyframes deplasare{
        0%{right:0%;}
        100%{right:90%;}
    }
    @keyframes aparitie{
        0%{opacity: 0;}
        50%{opacity: 0.5;}
        100%{opacity: 1;}
    }
    .stil{
        background-color: red;
    }
    #logo {
        padding: 0px;
        position:relative;
        bottom: 40px;
        height: 70px;
        transition: transform 0.5s;

    }
    #hamburger{
        display: none;
    }
    
    header > img:hover{
        transform: rotate(360deg) scale(0.75);
        animation-play-state: paused;
    }
    nav{
        height: 70px;
        background-color: #D61A3C;
    }
    .sisteme{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid;
        background-color:#D61A3C ;
        padding: 10px;
        width: 500px;
    }
    .sistemImg{
        object-fit: contain;
        align-self: flex-start;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }
    ul.meniu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding-bottom: 10px;
        
    }
    ul.meniu li {
        border:solid;
        flex-grow: 20;
        background-color:  #D61A3C;
    }
    ul.submeniu {
        visibility: hidden;
    }
    ul.meniu > li:hover > ul.submeniu{
        visibility: visible;
        width: 100%;
        background-color: #D61A3C;
        position:relative;
        z-index:60;
    }
    
    
    ul.meniu, ul.submeniu {
    list-style-type:none;
    }
    ul.meniu a {
    transition: background-color 0.5s, color 0.5s;
    text-decoration:none;
    color:black;
    display: block;
    width: 100%;

    }
    ul.meniu a:hover{
        background-color: white;
    }
    ul.meniu > li {
    flex-grow: 1;
    height:70px;
    border:1px solid black;
    text-align:center;
    line-height:70px;
    }
    input{
        display: none;
    }

    #container-pagina{
        display:grid;
        padding-top: 10px;
        padding-left: 5%;
        grid-gap: 10px;
        grid-template-areas:
                            "sistem1 sistem1 sistem2 sistem2 "
                            " sistem3 sistem3  sistem4 sistem4  "
                        
    }
    #sistem1{
        grid-area: sistem1;

    }
    #sistem2{
        grid-area: sistem2;
    }
    #sistem3{
        grid-area: sistem3;
    }
    #sistem4{
        grid-area: sistem4;
    }
    footer::after{
        content: "Copyright 2022 ©";
    }

}








@media screen and (max-width:600px){

    header{
        background-color: #28282B;
        height: 70px;
        width: 100%;
        padding-left:10px;
        padding-top: 10px;
    }
    header > h1{
            text-align: center;
            color: #D61A3C;
            text-shadow: 3px 3px #3B3B3B;
    }
    *{
        margin:0;
        padding: 0;
    }
    body{
        background-color: #666666;
    }
    @keyframes deplasare{
        0%{right:0%;}
        100%{right:90%;}
    }
    @keyframes aparitie{
        0%{opacity: 0;}
        50%{opacity: 0.5;}
        100%{opacity: 1;}
    }
    .stil{
        background-color: red;
    }
    #logo {
        display: none;

    }
    #hamburger{
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    body > input{
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        top: 10px;
        left: 10px;
    }
    header > img:hover{
        transform: rotate(360deg) scale(0.75);
        animation-play-state: paused;
    }
    nav{
        background-color: #D61A3C;
        display: none;
    }
    
    
    ul.meniu{
        border: solid;
        padding-bottom: 10px;
        
    }
    ul.meniu li {
        border:solid;
        background-color:  #D61A3C;
    }
    ul.submeniu {
        display: none;
    }
    ul.submeniu>li{
        background-color: pink;
    }
    ul.meniu > li:hover > ul.submeniu{
        display: block;
        width: 100%;
        background-color: pink;
    }
    
    
    ul.meniu, ul.submeniu {
    list-style-type:none;
    }
    ul.meniu a {
    transition: background-color 0.5s, color 0.5s;
    text-decoration:none;
    color:black;
    display: block;
    width: 100%;

    }
    ul.meniu a:hover{
        background-color: white;
        color:darkcyan;
    }
    ul.meniu > li {
    border:1px solid black;
    text-align:center;
    line-height:70px;
    }
    input:checked ~nav{
        display: block;
    }
    .sisteme{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid;
        background-color:#D61A3C ;
        padding: 10px;
        width: 500px;
    }
    .sistemImg{
        object-fit: contain;
        align-self: flex-start;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }

    #container-pagina{

        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap:  10px;
    }
    #sistem1{
        grid-area: sistem1;

    }
    #sistem2{
        grid-area: sistem2;
    }
    #sistem3{
        grid-area: sistem3;
    }
    #sistem4{
        grid-area: sistem4;
    }

    footer::after{
        content: "Copyright 2022 ©";
    }

}







